[Desktop Entry]
Name=METUnotify
Comment=
Exec=python ./.METUnotify/METUnotify.pyc
Icon=/usr/share/icons/METUnotifyIcons/METUnotifyIcon.png
Terminal=false
Type=Application
StartupNotify=true
